@import "tailwindcss";

@layer base {
  body {
    @apply bg-[#0F0F0F] text-white antialiased; /* Suaviza as fontes */
  }

  /* Personalização da barra de scroll para combinar com o dark mode */
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#0F0F0F];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-white/10 rounded-full hover:bg-white/20 transition-all;
  }
}